
**/appsettings.json
**/appsettings.Development.json
**/appsettings.*.json

**/Migrations/
**/Migrations/*

[Bb]in/
[Oo]bj/

.vs/
*.user
*.userosscache
*.sln.docstates

*.nupkg
**/packages/
**/node_modules/

*.log

.DS_Store
Thumbs.db
.idea/
.vscode/